@model Proman.Models.ViewModels.PersonReportVM

@{
    ViewData["Title"] = "PersonReport";
}

<h1>PersonReport</h1>

<div>
    <h4>PersonReportVM</h4>
    <hr />
    <dl class="row"></dl>
</div>
<table>
    <thead>
        <tr>
            <th>People</th>
            <th># of Projects</th>

            <th>

                Project assigned

            </th>
            <th>Roles</th>
            <th>Hourly Rate</th>
            <th>Total Hourly</th>

        </tr>
    </thead>
    <tbody>



        @foreach (var eachPerson in Model.ListOfProjectsAndPeople)
        {
            <tr>
                <td class="border">
                    @Html.DisplayFor(modelItem => eachPerson.Key)
                </td>
                <td class="border">
                    @Html.DisplayFor(modelItem => eachPerson.Value.Count)
                </td>
                <td class="border">
                    @*Loop through and get all the project names*@
                    @foreach (var eachProject in eachPerson.Value)
                    {
                        <span>
                            @Html.DisplayFor(modelItem => eachProject.Key.Name)
                        </span><br />
                    }
                </td>
                <td class="border">

                    @foreach (var each in eachPerson.Value)
                    {
                        <span>


                            @foreach (var eachRole in each.Value)
                            {
                                <span>@Html.DisplayFor(modelItem => eachRole.Key.Name), </span>

                            }
                        </span><br />
                    }
                </td>
                <td class="border">

                    @foreach (var each in eachPerson.Value)
                    {
                        <span>

                            @foreach (var eachRole in each.Value)
                            {
                                <span>$@Html.DisplayFor(modelItem => eachRole.Value), </span>

                            }
                        </span><br />
                    }
                </td>
                <td class="border">
                    @{
                        decimal total = 0;

                    }
                    @foreach (var each in eachPerson.Value)
                    {

                        <span>



                            @{
                                @*Add each line member rate together*@
                                total = total + each.Value.Values.Sum();



                            }
                        </span><br />
                    }

                    @*Display the total hourly rate for each project*@
                    $@(total)
                </td>

            </tr>
        }



    </tbody>
</table>
<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back to Home Page</a>
