@model Proman.Models.ViewModels.HomePageVM

@{
    ViewData["Title"] = "Project Manager : Home";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Control is in YOUR hands.</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Number of Projects
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfProjects)  |  
            <a class="btn btn-primary" asp-action="Index" asp-controller="Projects">Manage Projects</a>
        </dd>
        <dt class="col-sm-2">
            Number of People
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeople)  |
            <a class="btn btn-primary" asp-action="Index" asp-controller="Person">Manage People</a>
        </dd>
        <dt class="col-sm-2">
            Number of Roles
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRoles)  |
            <a class="btn btn-primary" asp-action="Index" asp-controller="Roles">Manage Project Roles</a>

        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="ProjectReport" asp-controller="Projects">View Project Report</a>
    <a class="btn btn-primary" asp-action="PersonReport" asp-controller="Person">View People Report</a>

</div>
